doctype html
html(lang='en')
	head
		title #{title} : Express Website
		meta(charset='utf-8')
		meta( http-equiv='X-UA-Compatible', content='IE=edge')
		meta( name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='stylesheets/bootstrap.css')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-fixed-top
			.navbar-header
				button.navbar-toggle( type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") Express Website
 
			#navbar.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li(class=(title === 'Home' ? 'active' : ''))
						a(href='/') Home
					li(class=(title === 'About' ? 'active' : ''))
						a(href='/about') About
					li(class=(title === 'Contact' ? 'active' : ''))
						a(href='/contact') Contact
	block content
	footer 
		p &copy; 2015, All Rights Reserved

	
	script(src='javascripts/bootstrap.js')
	link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
	script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')